h1{
  font-family: 'Libre Baskerville', serif;
  color: white;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
p {
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.h_img{
  background-position: center center;
  background-size: cover;
  height: 750px;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top:19%; 
}
.about_us{
  font-family: 'Libre Baskerville', serif;
  font-size: 28px;
  text-align: center;
  margin-top: 60px;
  font-weight: bold;
  margin-bottom: 60px;
}
#services{
  background-image:url('../images/backgrounds/s_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  font-family: 'Libre Baskerville', serif;
  color: white;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 60px;
}
#whatwedo{
  text-align: center;
}
#portfolio{
  text-align: center;
}
.contactus{
  background-image: url("../images/backgrounds/c_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  font-family: 'Libre Baskerville', serif;
  color: white;
  text-align: center;
  padding-top: 50px;
}
#name,#email{
  width: 400px;
  background-color: transparent;
  border-color: white;
  height: 35px;
}
#subject{
  width: 850px;
  background-color: transparent;
  border-color: white;
 

}
::placeholder {
  color: white;
  font-size: 20px;
}
.card{
  height: 100%;
  width: 100%;
}
footer{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}
#mouse_click{
 position:absolute;
  
}
#designdes,#productdes,#developmentdes{
  display: none;
}
#blank-t,#ontario-t,#yellow-t,#jim-t,#have-t,#calculator-t,#burned-t,#girraffe-t{
  background-color: white;
  padding: 70px 0;
  text-align: center;
  display: none;
}

#mouse_click{
  animation: bounce 3s infinite alternate;
  }
@keyframes bounce { 
  0%{
  transform: translate(0px,100px);
  }
  100%{
  transform: translate(0px,0px);
  }
}
