h1{
  font-family: 'Libre Baskerville', serif;
  color: white;
  font-size: 42px;
  text-align: center;
  font-weight: bold;
}
p {
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.h_img{
  background-position: center center;
  background-size: cover;
  height: 750px;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top:19%; 
}
.mouse_click{
  margin-bottom: 100px;
}
.about_us{
  font-family: 'Libre Baskerville', serif;
  font-size: 28px;
  text-align: center;
  margin-top: 60px;
  font-weight: bold;
  margin-bottom: 60px;
}
#services{
  background-image:url('images/backgrounds/s_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  font-family: 'Libre Baskerville', serif;
  color: white;
  text-align: center;
  padding-top: 100px;
}
#whatwedo{
  text-align: center;
}
#portfolio{
  text-align: center;
}
.card{
  height: 100%;
  width: 100%;
}
